<html>
	<body>
		<form method="POST" action="/query/result">
		<p>
			Find a place in
			<select name="location">
				<% @cities.each do |city| %>
					<option><%= city %></option>
				<% end %>
			</select>
		</p>
		<p>
			And I'm looking to spend around
			<input type="text" name="avg_price"></input>
		</p>
		<input type="submit"></form>
		</form>
	</body>
</html>