<html>
	<body>
		<ul>
		<% @places.each do |place| %>
			<li> <%= place.name %> has an average price of <%= place.avg_price %> and a rating of <%= place.ranking %>. </li>
		<% end %>
		Rank is <%= @rank %>
		</ul>
	</body>
</html>
